<div class="row">
<div *ngFor="let usuario of usuarios" class="col s3">
    <h4 class="header">{{usuario.nombre}}</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://image.freepik.com/iconos-gratis/persona-antorcha-olimpica_318-29362.jpg" width="150" height="200">
      </div>
      <div class="card-stacked">
        <div class="card-content">

          <p>Edad      :   {{usuario.edad}} años</p>
          <p>Sexo      :   {{usuario.sexo}}</p>
          <p>Documento :   {{usuario.documento}}</p>
        </div>
       <a [routerLink]="['viajero', usuario.id_viajero]">ver perfil</a>

      </div>
    </div>
  </div>
</div>
